
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(
    to bottom,
    #01294A 10%,
    #134873 37%,
    #7C8F99 64%,
    #BEBFBF 94%
  );
    overflow-x: hidden;
  }


.navbar{
    width: auto;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left{
    display: flex;
    align-items: center;

}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 20px;

}

.house{
    height: auto; 
    width: clamp(30px,10vw,70px);
    margin-left: 8px;
    margin-top: 3px;
}

.logo-name{
    height: auto; 
    width: clamp(130px,25vw,315px);
}

.aboutbutton{
    height: 40px;
    width: 80px;
    background-color: transparent;
    border: none;
    color: #fefdfe;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    border-radius: 25px;
    user-select: none;
    

}

.contactbutton{
    height: 40px;
    width: 80px;
    background-color: transparent;
    border: none;
    color: #fefdfe;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    border-radius: 25px;
    user-select: none;
    
}

.aboutbutton:hover{
    background-color: #446179;
    color: #fefdfe;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.contactbutton:hover{
    background-color: #446179;
    color: #fefdfe;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}


.text-section{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    text-align: center;
}

.middletext {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: clamp(2rem, 5vw, 3em);
    color: #fefdfe;
    user-select: none;
}

.middlesubtext {
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-variation-settings:
        "wdth" 100;
    color: #fefdfe;
    font-size: clamp(0.3rem, 3.5vw, 1em);
    user-select: none;
}